body {
    background-color: #1F2937;
}

.header {
    color: white;
    font-family: "Roboto", "Helvetica", "sans-serif";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 200px;
}

.headerlogo {
    font-weight: 600;
}

.links ul {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style-type: none;
}

ul a {
    text-decoration: none;
    color: #E5E7EB;
}
