body {
    background-color: #1F2937;
    font-family: "Roboto", "Helvetica", "sans-serif";
}

/* header */

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 200px;
}

.headerlogo {
    font-weight: 600;
}

.links ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;
    list-style-type: none;
}

ul a {
    text-decoration: none;
    color: lightgray;
}

/* hero */
.hero {
    color: white;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.heroleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 450px;
}

.heroheader {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.herotext {
    font-size: 18px;
    color: lightgray;
}

img {
    width: 400px;
    height: 400px;
}